
div.splash {
    background-image: url('/images/hero/splash.svg');
    width: 3067px;
    height: 1556px;
  }
  
/* Tooltip - UI */
.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
  background: #ecf2fd;
  border-radius: 3px;
  padding: 0 20px;
  margin: 50px;
  width: 250px;
}

.intro-video {
    width: 80%;
    aspect: video;
}