
div.splash {
    background-image: url('/images/hero/splash.svg');
    width: 3067px;
    height: 1556px;
  }
  
/* Tooltip - UI */
.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
  background: #ecf2fd;
  border-radius: 3px;
  padding: 0 20px;
  margin: 50px;
  width: 250px;
}

.intro-video {
    width: 80vw;
    aspect: video;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
  .cardTitle {
    color: grey;
    font-size: 18px;
  }
  
  .card button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  .card button:hover, .card a:hover {
    opacity: 0.7;
  }